<br>

<h2 id="title" class="text"><%= todo.title %></h2>

<p id="postBody" class="text"> <%= todo.items %></p>

  <%= link_to "Show Page", todo if action_name == "index" %> 
  <%= link_to "Edit Page", edit_todo_path(todo) %>
<hr>